<!-- <button mat-flat-button (click)="addMovie()">
    <mat-icon>add</mat-icon>
    Add a movie</button> -->

<app-generic-list [elements]="movies">
    
    <ng-container content>
        <div class="movies-container">
            @for(movie of movies; track $index) {
                <div class="movie-container">
                    <a [routerLink]="['movies/edit', movie.id]">
                        @if(movie.poster) {
                            <img [src]="movie.poster" alt="">
                            }
                            @else {
                            <img src="blankImage.jpg" />
                            }
                    </a>
                    <p>
                        <a href="">{{movie.title}}</a>
                    </p>
                    <div>
                        <a mat-flat-button  [routerLink]="['movies/edit', movie.id]">
                            Edit
                        </a>
                        <button mat-flat-button type="button" color="warn">
                            Delete
                        </button>
                    </div>
                    
                </div>
            }
        </div>
        
    </ng-container>
</app-generic-list>





<!-- <div class="movies-container">
    <div>
        @if(movie.poster) {
        <img [src]="movie.poster" alt="">
        }
        @else {
        <img src="blankImage.jpg" />
        }
    </div>

    <div>
        <div>
            <h2>{{$index + 1}}) Movie: <b>{{movie.title | uppercase}}</b></h2>
        </div>
        <div>
            Release Date: {{movie.releaseDate | date:"MMMM-dd-yyyy"}}
        </div>
        <div>
            Price: {{movie.price | currency}}
        </div>
        <div>
            <button (click)="removeMovie(movie)">Remove</button>
        </div>
    </div>
</div> -->